# Dependencies
node_modules/

# Environment variables
.env

# Uploads
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/rentals/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

